body {
      font-family: sans-serif;
      max-width: 1000px;
      margin: 0 auto;
      padding: 2rem;
      line-height: 1.6; 
}
h1 {
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      font-size: 36px;
      text-align: center;
}
p {
      font-size: 18px;
      text-align: center; 
}
.chart-container {
      width: 100%;
      margin-bottom: 3rem;
}
